
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">@Model.NoteTitle</h3>
    </div>
</div>

<div class="row">
    <div class="col-lg-10">
        <div class="card card-title">
            <div class="card-header">
                <label></label>@Model.NoteTitle
            </div>
            <div class="card-body">
                @Html.Raw(Model.NoteContents)
            </div>


            <div class="card-footer" text-right">
                <a class="btn btn-primary" asp-controller="Note" asp-action="Index">목록</a>
            </div>
        </div>
    </div>
</div>

