@using Microsoft.AspNetCore.Http;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AspnetNote.MVC6</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/Trumbowyg/ui/trumbowyg.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light btn-group-toggle border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AspnetNote.MVC6</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex">
                <li class="navbar-nav flex-grow-1">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Note" asp-action="Index">게시판</a>
                </li>
                <ul class="nav navbar-nav flex-grow-0">

                    @if (Context.Session.GetInt32("USER_LOGIN_KEY") == null)
                    {
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">로그인</a>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">회원가입</a>
                    }
                    else
                    {
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">로그아웃</a>
                    }
                </ul>

            </div>
        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - AspnetNote.MVC6 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/Trumbowyg/trumbowyg.min.js"></script>
    <script src="~/lib/Trumbowyg/langs/ko.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
